html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

body {
    font-size:17px;
    font-family: Nunito;
    background-color:#7282b1;
    padding-top:5px;
    padding-bottom:15px;
}

.navbar {
    font-family:Lato;
    font-size:14px;
    padding-bottom:3px;
    border-radius:10px;
}

.navbar + hr {
    margin-top:-20px;
    margin-left:8px;
    margin-right:8px;
    border:1px solid #d3d8eb
}

.main {
    background-color:white;
    border-radius:10px;
    padding-bottom:10px;
    margin-bottom:15px;
    width:90%;
    min-width:250px;
    margin-left:auto;
    margin-right:auto;
}

nav li a {
    background-color:white !important;
    letter-spacing:0.05em;
    transition: text-shadow 0.2s;
    border-radius:10px;
}

li.active, nav li:hover {
    text-shadow: 0 0 0.65px #23527c, 0 0 0.65px #23527c;
    text-decoration:underline #94b5eb !important;
    text-underline-offset:3px !important;
    text-decoration-thickness:2px !important;
}

h1, h2, h3 {
    font-family:Lato;
    color:#424547;
}

p {
    color:#515557;
}

.rattop img {
    position:fixed;
    right:8%;
    z-index:1;
    width:15%;
    top:0;
    min-width:8em;
}

/* index.html */
.drawlist > table {
    margin-left:auto;
    margin-right:auto;
    width:65%;
    color:#515557;
}

.drawlist > table ul{
    padding-left:0;
}

.drawlist > table li{
    list-style-type:none;
}

.drawlist > table th, .drawlist > table ul, .links a {
    text-align:center;
}

.drawlist > table {
    table-layout:fixed;
    width:50%;
}

.drawlist li, .rates li{
    padding-top:0.15em;
    padding-bottom:0.15em;
}

.footerimg img {
    width:30%;
    min-width:200px;
    max-width: 500px;
}

/* about.html */
.about img {
    width:30%;
    margin-bottom:0.7em;
    max-width: 500px;
}
.about p {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
}
.about .row {
    margin-left:auto;
    margin-right:auto;
}

/* rates.html */
.rates li {
    margin-left:-1em;
}

.main {
    padding-left:min(300px, 4%);
    padding-right:min(300px, 4%);
    width:80%;
    left:auto;
    right:auto;
    min-width:700px;
    margin:auto;
}

.rates h3, .rates2 h3{
    text-decoration:underline #d3d8eb;
    text-underline-offset:0.2em;
    text-decoration-thickness:2px;
    margin-bottom:0.8em;
}

.rates h3 + img {
    width:90%;
    min-width:290px;
    margin-bottom:1em;
    max-width: 1000px;
}

.rates #tos + ul {
    margin-bottom:auto;
}

#half-half {
    color:#006ac7;
}

#full {
    color:#00b55b;
}

/* ratesv2 */

.hiddensp {
    -webkit-transition: max-height 0.3s ease-in, opacity 0.3s ease-in-out;
       -moz-transition: max-height 0.3s ease-in, opacity 0.3s ease-in-out;
        -ms-transition: max-height 0.3s ease-in, opacity 0.3s ease-in-out;
         -o-transition: max-height 0.3s ease-in, opacity 0.3s ease-in-out;
            transition: max-height 0.3s ease-in, opacity 0.3s ease-in-out;
}

/* contact */
ul.contact-info li {
    font-size:1.2em;
    list-style-type:none;
}

ul.contact-info {
    padding-left:0;
}

a:hover {
    text-decoration:none !important;
}

ul.contact-info + img, #testimonialsrat {
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:50%;
    min-width:200px;
    max-width: 700px;
    
}

/* links.html */
a.thumbnail img {
    height:10em;
}

a.thumbnail {
    display:inline-block;
}

/* testimonials.html */
p.quote::before, p.quote::after {
    font-size:1.6em;
    font-family:Georgia;
    color:#313334;
    line-height:0.8;
}

p.quote::before {
    content:'“';
}

p.quote::after {
    content:'”';
}

p.quote {
    padding-left:20px;
    margin-bottom:0px;
    font-size:1.1em;
    font-style:italic;
    line-height:1.8;
}

p.cite {
    text-align:right;
    padding-bottom:1.5em;
}

p.cite::before {
    content:"—"
}

/* window size stuff */
@media screen and (max-width:768px) {
    body {
        font-size:15px;
    }
    
    .drawlist > table {
        width:90%
    }
    
    .about > img {
        width:42%
    }
    .navbar a {
        margin-left:5%;
        margin-right:5%;
    }
    .main {
        max-width:700px;
        min-width:90vw;
    }
    
    .rates img {
        max-width:700px;
        min-width:70vw !important;
        width:70%;
        margin-left:-10px;
    }
    
    a.thumbnail img {
        max-height:30vw;
    }

}

/* loader */
#loader {
    display:block;
}
#loader img {
    display:block;
    position:relative;
    top:40vh;
    z-index:1;
    width:100px;
    margin:auto;
}

.animate-bottom {
    position:relative;
    -webkit-animation-name:animatebottom;
    -webkit-animation-duration:1s;
    animation-name:animatebottom;
    animation-duration:1s;
}

@-webkit-keyframes animatebottom {
    from {bottom:-100px; opacity:0}
    to {bottom:0; opacity:1}
}

@keyframes animatebottom {
    from {bottom:-100px; opacity:0}
    to {bottom:0; opacity:1}
}

#page {
    display:none;
}
